<div id="modalPendingIssuesHistory" tabindex="-1" aria-labelledby="modalPendingIssuesHistory" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 id="modalPendingIssuesHistory" class="modal-title fs-5 fw-bold">Histórico de Pendências</h1>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"></button>
            </div>
            <div class="modal-body">

                @if (isLoadingYears) {
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                } @else if (yearsFound) {
                    <div class="row">
                        <div class="col">
                            <select class="form-control" name="years" id="years">
                                <option value="ano">Ano:</option>
                                @for (item of years; track item) {
                                    <option value="{{ item }}">{{ item }}</option>
                                }
                            </select>
                        </div>
                        <div class="col"></div>
                        <div class="col">
                            <button id="buttonGetHistory" class="btn btn-primary" disabled>Consultar</button>
                        </div>
                    </div>
                } @else if (yearsNotFound) {
                    <p class="text-info text-center">Nenhum registro encontrado.</p>
                } @else if (internalError) {
                    <span class="text-info">
                        <i class="bi bi-emoji-frown-fill text-primary"></i> Erro interno, por favor tente mais tarde.
                    </span>
                }
            </div>    
            <div class="modal-footer">
                <button 
                    type="button" 
                    data-bs-dismiss="modal" 
                    aria-label="Close" 
                    class="btn btn-secondary"
                >Fechar</button>
            </div>
        </div>
    </div>
</div>

