<div id="modalPendingIssues" tabindex="-1" aria-labelledby="modalPendingIssues" aria-hidden="true" class="modal fade">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 id="modalPendingIssues" class="modal-title fs-5 fw-bold">Pendências</h1>
        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"></button>
      </div>
      <div class="modal-body">

        @if (isLoadingPendingIssues) {
          <div class="d-flex justify-content-center">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only"></span>
            </div>
          </div>
        } @else if (dataNotFound) {
          <div>
            <p class="text-info text-center">Nenhum registro encontrado.</p>
            <hr>
            <div class="row">
              <div class="col">
                <a 
                  type="button" 
                  data-bs-dismiss="modal" 
                  data-bs-toggle="modal"
                  data-bs-target="#modalAddPendingIssues" 
                  aria-label="Close" 
                  class="btn text-success">
                  Cadastrar Pendências
                </a>
              </div>
              @if (reset) {
                <div class="col">
                  <a 
                    type="button" 
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    class="btn text-secondary"
                    (click)="resetPendingIssues()"
                    >
                    Reiniciar Pendências
                  </a>
                </div>
              }
            </div> 
          </div>
        } @else if (internalError) {
          <div class="d-flex justify-content-center my-5">
            <span class="text-info">
              <i class="bi bi-emoji-frown-fill text-primary"></i> Erro interno, por favor tente mais tarde.
            </span>
          </div>
        } @else if (dataFound) {
          <div>
            <div class="row">
              <div class="col">
                <div class="d-flex justify-content-center">
                  <a 
                    type="button" 
                    data-bs-dismiss="modal" 
                    data-bs-toggle="modal"
                    data-bs-target="#modalAddPendingIssues" 
                    aria-label="Close"
                    class="btn text-success">
                    <i class="bi bi-plus-square-fill fs-3"></i>
                  </a>
                </div>
              </div>
              <div class="col">
                <div class="d-flex justify-content-center">
                  <a 
                    type="button" 
                    data-bs-dismiss="modal" 
                    data-bs-toggle="modal"
                    data-bs-target="#modalEditPendingIssues" 
                    aria-label="Close"
                    class="btn text-warning">
                    <i class="bi bi-pencil-square fs-3"></i>
                  </a>
                </div>
              </div>
              <div class="col">
                <div class="d-flex justify-content-center">
                  <a 
                    type="button" 
                    data-bs-dismiss="modal" 
                    data-bs-toggle="modal"
                    data-bs-target="#modalPendingIssuesHistory" 
                    aria-label="Close"
                    class="btn">
                    <i class="bi bi-binoculars-fill fs-3"></i>
                  </a>
                </div>
              </div>
              <div class="col">
                <div class="d-flex justify-content-center">
                  <a 
                    type="button" 
                    data-bs-dismiss="modal" 
                    data-bs-toggle="modal"
                    data-bs-target="#modalDeletePendingIssue" 
                    aria-label="Close"
                    class="btn text-danger">
                    <i class="bi bi-x-square-fill fs-3"></i>
                  </a>
                </div>
              </div>
            </div>
            <hr>
            <h4 class="text-primary fw-bold">Lista de Pendências</h4>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Descrição</th>
                  <th scope="col">
                    <div class="d-flex justify-content-center">
                      Concluída
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pendingIssue of data">
                  <td>{{ pendingIssue.pendingIssueDescription }}</td>
                  <td *ngIf="pendingIssue.done">
                    <div class="d-flex justify-content-center">
                      <input 
                        type="checkbox" 
                        class="form-check-input"
                        id="{{ pendingIssue.pendingIssueId }}"
                        checked
                        disabled
                        >
                    </div>
                  </td>
                  <td *ngIf="!pendingIssue.done">
                    <div class="d-flex justify-content-center">
                      <input 
                        type="checkbox" 
                        class="form-check-input"
                        id="{{ pendingIssue.pendingIssueId }}"
                        (click)="updateControlList($event)"
                        >
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-start ms-2">
              <p class="text-info my-2">Total: {{ total }}</p>
            </div>
          </div>
        }
      </div>
      <div class="modal-footer">
        <button data-bs-dismiss="modal" aria-label="Close" class="btn btn-secondary">Fechar</button>
        <button data-bs-dismiss="modal" aria-label="Close" id="buttonUpdateStatus" class="btn btn-primary" (click)="updatePendingIssuesStatus()" disabled>Atualizar</button>
      </div>
    </div>
  </div>
</div>

