/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, Helvetica, sans-serif !important;
}

.bg-primary {
    background-color: #113059 !important;
}

.bg-secondary {
    background-color: #313A46 !important;
}

.text-primary {
    color: #113059 !important;
}

.text-secondary {
    color: #313A46 !important;
}

.text-tertiary {
    color: #5850A0
}

.border-primary {
    border-color: #113059 !important;
}

.btn-primary {
    background-color: #4F45A7 !important;
    border-color: #4F45A7;
}

.btn-primary:hover {
    background-color: #113059 !important;
}

.btn-secondary {
    background-color: white;
    color: #113059;
    border-color: #113059;
}

.btn-secondary:hover {
    background-color: #313A46;
    border-color: #313A46;
}

.card-disabled {
    background-color: #dddddd;
}

.p-disabled {
    color: gray;
}

.p-menu-link:hover {
    color: #5850A0 !important;
}

.pagination > li > .active  {
    background-color: #113059 !important;
}

.pagination > li > a {
    color: #113059 !important;
}

.pagination > .active > a {
    color: white !important;
    background-color: #113059 !important;
    border-color: #113059 !important;
}

.form-check-input:checked {
    background-color: #113059 !important;
    border-color: #113059 !important;
}


.text-info {
  color: gray !important;
}


/*TOOLTIP INÍCIO*/

.tooltips {
    display: inline-block;
    background: #5850A0;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 4px;
}

.arrow,
.arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.arrow {
  visibility: hidden;
}

.arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

.tooltips[data-popper-placement^='top'] > .arrow {
  bottom: -4px;
}

.tooltips[data-popper-placement^='bottom'] > .arrow {
  top: -4px;
}

.tooltips[data-popper-placement^='left'] > .arrow {
  right: -4px;
}

.tooltips[data-popper-placement^='right'] > .arrow {
  left: -4px;
}
/*TOOLTIP FIM*/

/*CAMPOS DE TEXTO INÍCIO*/
.form-inputs {
    border-radius: 3px;
    background-color: var(--gerais-fundo);
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-inputs-sm {
    border-radius: 3px;
    background-color: var(--gerais-fundo);
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

.form-inputs-md {
    border-radius: 3px;
    background-color: var(--gerais-fundo);
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.field-box {
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
}

.form-fields {
    border: none;
    background-color: transparent;
    width: 98.5%;
    height: 100%;
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
}

.form-fields:focus {
    outline: none;
}

.text-info {
    color: gray !important;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

/*CAMPOS DE TEXTO FIM*/

.bg-card {
    background-color: #f8f9fa;
}