<div class="container mt-2">
    <div id="loginErrorMessage"></div>
    <div class="my-2">
        <a (click)="goToLogin()" class="text-primary fw-bold" style="cursor: pointer; text-decoration: none;">
            <i class="bi bi-arrow-left-square"></i>
            Voltar
        </a>
    </div>
    <div class="card">
        <div class="card-body">
            <form [formGroup]="form" class="ng-untouched ng-pristine ng-invalid">
                <fieldset>
                    <legend>Selecione o tipo de convite recebido:</legend>
                    <div class="form-check">
                        <input (click)="holderFirstAccess()" type="radio" name="flexRadioRole" id="flexRadioHolder" checked class="form-check-input">
                        <label for="flexRadioHolder" class="form-check-label"> Recebi o convite da PFinances, sou usuário titular</label>
                    </div>
                    <div class="form-check">
                        <input (click)="dependentFirstAccess()" type="radio" name="flexRadioRole" id="flexRadioDependent" class="form-check-input">
                        <label for="flexRadioDependent" class="form-check-label"> Recebi o convite de um familiar</label>
                    </div>
                </fieldset>
                <div class="mt-4">
                    <hr>
                    <span *ngIf="holder">
                        <b>Titular, informe os dados do convite abaixo:</b>
                    </span>
                    <span *ngIf="dependent">
                        <b>Convidado, informe os dados do convite abaixo:</b>
                    </span>
                    <br>
                    <div id="inviteCodeFieldBox" class="form-inputs-sm bg-light mt-2" (click)="inputInviteCodeFocus()" style="box-shadow: 0 0 0 1px #dce0e8;">
                        <div class="field-box">
                            <label for="inviteCode" class="mt-2 text-info">Código do Convite</label>
                            <input 
                                type="text" 
                                formControlName="inviteCode" 
                                id="inviteCode" 
                                class="form-fields ng-pristine ng-invalid ng-touched" 
                                (blur)="validateInviteCodeField()"
                            >
                        </div>
                    </div>
                    <div *ngIf="form.get('inviteCode')?.errors?.['required'] && form.get('inviteCode')?.touched">
                        <p class="text-danger mb-2">Informe o código do convite</p>
                    </div>
                    <div id="emailFieldBoxFirstAccess" class="form-inputs-md bg-light mt-2" (click)="inputEmailFocus()" style="box-shadow: 0 0 0 1px #dce0e8;">
                        <div class="field-box">
                            <label for="email" class="mt-2 text-info">E-mail</label>
                            <input 
                                type="text" 
                                formControlName="emailFirstAccess" 
                                id="email" 
                                class="form-fields ng-pristine ng-invalid ng-touched"
                                (blur)="validateEmailField()"
                            >
                        </div>
                    </div>
                    <div *ngIf="form.get('emailFirstAccess')?.invalid && (form.get('emailFirstAccess')?.dirty || form.get('emailFirstAccess')?.touched)">
                        <p class="text-danger mb-2">Endereço de e-mail inválido</p>
                    </div>
                    <button 
                        type="button" 
                        class="btn btn-primary btn-lg w-25 fw-bold mt-2" 
                        [disabled]="!form.valid" 
                        (click)="validateInvite()"
                    >Validar</button>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="isLoading" class="text-center my-5">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
    <div *ngIf="invalidData" class="text-center my-5">
        <i class="bi bi-exclamation-circle-fill text-danger"></i>
        <span class="text-primary fw-bold"> Dados inválidos!</span>
    </div>
    <div *ngIf="internalError" class="text-center my-5">
        <i class="bi bi-emoji-frown-fill text-primary"></i>
        <span class="text-info">
             Erro interno, por favor tente mais tarde.
        </span>
    </div>
    <div *ngIf="holderForm" class="card mt-4">
        <div class="card-body">
            <legend>Preencha os campos abaixo para realizar o primeiro acesso</legend>
            <form class="ng-untouched ng-pristine ng-invalid">
                <div id="holderFirstNameFieldBox" class="form-inputs-sm bg-light" style="box-shadow: 0 0 0 1px #dce0e8;">
                    <div class="field-box">
                        <label for="holderFirstName" class="mt-2 text-info">Primeiro Nome</label>
                        <input 
                            type="text" 
                            formControlName="holderFirstName" 
                            id="holderFirstName" 
                            class="form-fields ng-untouched ng-pristine ng-invalid"
                        >
                    </div>
                </div>
                <div id="holderLastNameFieldBox" class="form-inputs-md bg-light" style="box-shadow: 0 0 0 1px #dce0e8;">
                    <div class="field-box">
                        <label for="holderLastName" class="mt-2 text-info">Sobrenome</label>
                        <input 
                            type="text" 
                            formControlName="holderLastName" 
                            id="holderLastName" 
                            class="form-fields ng-untouched ng-pristine ng-invalid"
                        >
                    </div>
                </div>
                <div id="familyNameFieldBox" class="form-inputs-md bg-light" style="box-shadow: 0 0 0 1px #dce0e8;">
                    <div class="field-box">
                        <label for="familyName" class="mt-2 text-info">Sobrenome</label>
                        <input 
                            type="text" 
                            formControlName="familyName" 
                            id="familyName" 
                            class="form-fields ng-untouched ng-pristine ng-invalid"
                        >
                    </div>
                </div>
                <div id="holderEmailFieldBox" class="form-inputs-md bg-light" style="box-shadow: 0 0 0 1px #dce0e8;">
                    <div class="field-box">
                        <label for="holderEmail" class="mt-2 text-info">E-mail</label>
                        <input 
                            type="text" 
                            formControlName="holderEmail" 
                            id="holderEmail" 
                            class="form-fields" 
                            [disabled]="true"
                        >
                    </div>
                </div>
                <div id="holderPasswordFieldBox" class="form-inputs-sm mt-2 bg-light" style="box-shadow: 0 0 0 1px #dce0e8;">
                    <div class="field-box">
                        <label for="holderPassword" class="mt-2 text-info">Senha</label>
                        <input 
                            type="password" 
                            formControlName="pwd" 
                            id="password" 
                            class="form-fields ng-untouched ng-pristine ng-invalid"
                        >
                    </div>
                    <a style="cursor: pointer;">
                        <i class="bi bi-eye text-info me-3 fs-5"></i>
                    </a>
                </div>
                <div id="confirmHolderPasswordFieldBox" class="form-inputs-sm mt-2 bg-light" style="box-shadow: 0 0 0 1px #dce0e8;">
                    <div class="field-box">
                        <label for="confirmHolderPassword" class="mt-2 text-info">Confirmação de Senha</label>
                        <input 
                            type="password" 
                            formControlName="confirmHolderPwd" 
                            id="confirmHolderPassword" 
                            class="form-fields ng-untouched ng-pristine ng-invalid"
                        >
                    </div>
                    <a style="cursor: pointer;">
                        <i class="bi bi-eye text-info me-3 fs-5"></i>
                    </a>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary btn-lg w-25 fw-bold mt-2" disabled>Finalizar</button>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="dependentForm" class="card mt-4">
        <div class="card-body">
            <legend>Preencha os campos abaixo para realizar o primeiro acesso</legend>
            <form class="ng-untouched ng-pristine ng-invalid">
                <div id="dependentFirstNameFieldBox" class="form-inputs-sm bg-light" style="box-shadow: 0 0 0 1px #dce0e8;">
                    <div class="field-box">
                        <label for="dependentFirstName" class="mt-2 text-info">Primeiro Nome</label>
                        <input 
                            type="text" 
                            formControlName="dependentFirstName" 
                            id="dependentFirstName" 
                            class="form-fields ng-untouched ng-pristine ng-invalid"
                        >
                    </div>
                </div>
                <div id="dependentLastNameFieldBox" class="form-inputs-md bg-light" style="box-shadow: 0 0 0 1px #dce0e8;">
                    <div class="field-box">
                        <label for="dependentLastName" class="mt-2 text-info">Sobrenome</label>
                        <input 
                            type="text" 
                            formControlName="dependentLastName" 
                            id="dependentLastName" 
                            class="form-fields ng-untouched ng-pristine ng-invalid"
                        >
                    </div>
                </div>
                <div id="dependentEmailFieldBox" class="form-inputs-md bg-light" style="box-shadow: 0 0 0 1px #dce0e8;">
                    <div class="field-box">
                        <label for="dependentEmail" class="mt-2 text-info">E-mail</label>
                        <input 
                            type="text" 
                            formControlName="dependentEmail" 
                            id="dependentEmail" 
                            class="form-fields" 
                            [disabled]="true"
                        >
                    </div>
                </div>
                <div id="dependentPasswordFieldBox" class="form-inputs-sm mt-2 bg-light" style="box-shadow: 0 0 0 1px #dce0e8;">
                    <div class="field-box">
                        <label for="dependentPassword" class="mt-2 text-info">Senha</label>
                        <input 
                            type="password" 
                            formControlName="pwd" 
                            id="dependentPassword" 
                            class="form-fields ng-untouched ng-pristine ng-invalid"
                        >
                    </div>
                    <a style="cursor: pointer;">
                        <i class="bi bi-eye text-info me-3 fs-5"></i>
                    </a>
                </div>
                <div id="confirmDependentPasswordFieldBox" class="form-inputs-sm mt-2 bg-light" style="box-shadow: 0 0 0 1px #dce0e8;">
                    <div class="field-box">
                        <label for="confirmDependentPassword" class="mt-2 text-info">Confirmação de Senha</label>
                        <input 
                            type="password" 
                            formControlName="confirmDependentPwd" 
                            id="confirmDependentPassword" 
                            class="form-fields ng-untouched ng-pristine ng-invalid"
                        >
                    </div>
                    <a style="cursor: pointer;">
                        <i class="bi bi-eye text-info me-3 fs-5"></i>
                    </a>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary btn-lg w-25 fw-bold mt-2" disabled>Finalizar</button>
                </div>
            </form>
        </div>
    </div>
</div>